    .nav li:hover {
        background-color: rgba(225, 239, 230, 0.3);
        transition: 300ms;
        border-radius: 3px;
    }
    
    .background {
        background: linear-gradient(rgb(253, 227, 153), rgb(255, 243, 209));
    }

    .parInsert {
        background-color: #160C28; 
        color: rgb(253, 227, 153);
        border: 2px solid #160C28;
        font-weight: bold;
    }
    
    .parAuto {
        background-color: rgb(253, 227, 153); 
        color: #160C28;
        border: 2px solid #160C28;
        font-weight: bold;
    }
    
    .parInsert:hover {
        background-color: rgb(253, 227, 153); 
        color: #160c28;
        border: 2px solid #160C28;
        font-weight: bold;
    }
    
    .parAuto:hover {
        background-color: #160C28; 
        color: rgb(253, 227, 153);
        border: 2px solid #160C28;
        font-weight: bold;
    }

    #errorAlert {
        display: none;
    }

    .alert {
        display: none;
    }

    .calculator-parameter-RPM, .calculator-parameter-RCF, .calculator-parameter-Rotor {
        margin: 20px 20px;
        height: 60px;
        width: 50px;
        background-color: rgb(54, 0, 0);
        border-radius: 3px;
        border: 2px solid black;
        font-size: 35px;
        color: red;
        font-family: Orbitron;
    }

    input {
        margin: -20px -20px;
        height: 100%;
        width: 100%;
        background-color: rgb(54, 0, 0);
        border-radius: 3px;
        border: none;
        font-size: 100%;
        color: red;
        font-family: Orbitron;
        text-align: center;
    }

    input::placeholder {
        color: red;
        text-align: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input:focus {
        border: none;
        outline: none;
    }

    #calcButton {
        background-color: #160C28;
        color: rgb(253, 227, 153);
        margin-top: 20px;
        margin-bottom: 50px;
        font-weight: bold;
        font-size: 20px;
    }

    #calcButton:hover {
        background-color: rgb(253, 227, 153);
        color: #160C28;
        margin-top: 20px;
        margin-bottom: 50px;
        font-weight: bold;
        font-size: 20px;
        border: 2px solid #160C28;
    }